@import "../../vars.css";

.container {
    color: white;
    margin-top: 120px;
    display: flex;
    background: linear-gradient(
      180deg, 
      #02132a 30%, 
      #06306a 100%
  );
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 75px 5%;
    padding-top: 100px;
    gap: 10%;
}

.text h2 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text p {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-right: 40%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
  }
  
  .link {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.3px;
  }
  
  .link a:hover {
    color: #C5E318;
}

  @media screen and (max-width: 830px) {
    .container {
      flex-direction: column;
      gap: 23px;
    }
  
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .text p {
      margin-right: 0%;
    }
  
    .links {
      align-items: center;
      display: flex;
    }
  }